.git
.gitignore
.env.example
.vscode
.idea
*.log
writable/cache/*
writable/logs/*
writable/session/*
writable/debugbar/*
vendor/
node_modules/
.DS_Store
*.swp
*.swo
temp_ci4/
*.ps1
*.exe
builds/