/* Main styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #e0e0e0;
    background-color: #0c0c0c;
    background-image: url('/assets/images/background-image.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.fixed-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgba(26, 26, 26, 0.9);
    -webkit-backdrop-filter: blur(10px); /* Added for better compatibility */
    backdrop-filter: blur(10px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.logo img {
    max-width: 150px;
    height: auto;
}

.nav-links ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

.nav-links li a {
    color: #e0e0e0;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-links li a:hover,
.nav-links li a.active {
    background-color: #00A2E8;
    color: #ffffff;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger div {
    width: 25px;
    height: 3px;
    background-color: #e0e0e0;
    margin: 4px 0;
    transition: 0.4s;
}

.mobile-menu {
    display: none;
}

.cta-buttons {
    display: flex;
    align-items: center;
}

.cta-buttons .whatsapp-button img {
    width: 36px;
    height: 36px;
    transition: transform 0.3s ease;
}

.cta-buttons .whatsapp-button img:hover {
    transform: scale(1.1);
}

/* Media query for mobile */
@media (max-width: 768px) {
    .header-content {
        flex-direction: column;
        align-items: center;
    }

    .nav-links {
        display: none;
        width: 100%;
    }

    .nav-links.mobile-menu {
        display: block !important;
        flex-direction: column;
        align-items: center;
    }

    .nav-links ul {
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
    }

    .hamburger {
        display: flex;
    }
}

.main-content {
    padding-top: 80px; /* Adjust based on the height of your header */
}

.hamburger.active div:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.active div:nth-child(2) {
    opacity: 0;
}

.hamburger.active div:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

/* General container style */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

section {
    padding: 3rem 2rem;
    background-color: rgba(26, 26, 26, 0.8); /* Make sections transparent */
    border-top: 1px solid #333;
    text-align: center;
    background-attachment: fixed;
    background-size: cover;
}

section h2 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

section p {
    font-size: 1.125rem;
    line-height: 1.6;
    margin-bottom: 2rem;
}

/* General button styles */
button, .cta-buttons button, .hero-buttons button {
    padding: 0.6rem 1.2rem;
    background-color: #00A2E8;
    color: #ffffff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

button:hover, .cta-buttons button:hover, .hero-buttons button:hover {
    background-color: #0077b6;
    color: #ffffff;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

button a, .cta-buttons button a, .hero-buttons button a {
    color: inherit; /* Ensures the text color is inherited from the button */
    text-decoration: none;
}

button:hover a, .cta-buttons button:hover a, .hero-buttons button:hover a {
    color: inherit; /* Ensures the text color is inherited on hover */
}

/* CTA button specific styles */
.cta-buttons {
    display: flex;
    justify-content: center; /* Centers the buttons horizontally */
    gap: 1rem; /* Adds space between buttons */
}

.cta-buttons button {
    font-size: 0.9rem;
    padding: 0.7rem 1.4rem;
    background-color: #00A2E8;
    color: #ffffff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

.cta-buttons button:hover {
    background-color: #0077b6;
    color: #ffffff;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.cta-buttons button a {
    color: inherit; /* Ensures the text color is inherited from the button */
    text-decoration: none;
}

.cta-buttons button:hover a {
    color: inherit; /* Ensures the text color is inherited on hover */
}

a {
    color: #00A2E8; /* Default link color */
    text-decoration: none;
}

a:hover {
    color: #8ed4fa; /* Hover link color */
    text-decoration: underline; /* Optional: to underline links on hover */
}

/* Form styles */
form {
    background-color: #1a1a1a;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
}

form .form-group {
    margin-bottom: 1rem;
}

form label {
    display: block;
    margin-bottom: 0.5rem;
    color: #e0e0e0;
}

form input,
form textarea,
form select {
    width: 100%;
    padding: 0.75rem;
    border-radius: 4px;
    border: 1px solid #333;
    background-color: #2a2a2a;
    color: #e0e0e0;
    font-size: 1rem;
    box-sizing: border-box;
}

form input:focus,
form textarea:focus,
form select:focus {
    border-color: #00b4d8;
    outline: none;
}

form button {
    background-color: #00A2E8;
    color: #ffffff;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

form button:hover {
    background-color: #0077b6;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.button-wrapper {
    text-align: center;
    margin-top: 1.5rem;
}

.button {
    display: inline-block;
    padding: 0.6rem 1.2rem;
    background-color: #00A2E8;
    color: #ffffff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
    text-decoration: none;
}

.button:hover {
    background-color: #0077b6;
    color: #ffffff;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

/* Parallax Effect */
.parallax {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    overflow: hidden;
    border: 10px solid #333; /* Frame for the image */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Add some shadow for better effect */
    margin: 20px auto;
}

.parallax img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the area and maintains aspect ratio */
    object-position: center; /* Center the image within the frame */
    transform: scale(1); /* Ensure the image scales to fit the container */
}

/* Media Queries */
@media (max-width: 1200px) {
    .parallax {
        padding-bottom: 56.25%; /* Maintain 16:9 aspect ratio */
    }
}

@media (max-width: 768px) {
    .parallax {
        padding-bottom: 56.25%; /* Maintain 16:9 aspect ratio */
    }
}

@media (max-width: 480px) {
    .parallax {
        padding-bottom: 56.25%; /* Maintain 16:9 aspect ratio */
    }
}

@media (max-width: 1200px) {
    header, footer {
        flex-direction: column;
        align-items: center;
    }

    .cta-buttons, .hero-buttons {
        flex-direction: column;
        align-items: center;
    }

    nav ul {
        flex-direction: column;
        gap: 1rem;
    }

    nav ul li {
        margin: 0;
    }

    .cta-buttons button, .hero-buttons button {
        width: 100%;
        margin: 0.5rem 0;
    }
}

@media (max-width: 768px) {
    .hero h1 {
        font-size: 2.5rem;
    }

    .hero p {
        font-size: 1rem;
    }

    section h2 {
        font-size: 2rem;
    }

    section p {
        font-size: 1rem;
    }

    nav ul {
        flex-direction: column;
        gap: 1rem;
    }

    nav ul li {
        margin: 0;
    }

    .cta-buttons button, .hero-buttons button {
        width: 100%;
        margin: 0.5rem 0;
    }
}

@media (max-width: 480px) {
    header .logo a {
        font-size: 1.5rem;
    }

    .cta-buttons button, .hero-buttons button {
        width: 100%;
        margin: 0.5rem 0;
    }
}

/* Hamburger menu behavior */
.menu-toggle {
    display: none;
    cursor: pointer;
}

.menu-toggle span {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: #e0e0e0;
}

.menu-toggle.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.menu-toggle.active span:nth-child(2) {
    opacity: 0;
}

.menu-toggle.active span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

@media (max-width: 768px) {
    nav ul {
        position: absolute;
        top: 100%;
        right: 0;
        width: auto;
        background-color: #1a1a1a;
        flex-direction: column;
        display: none;
        text-align: right;
        padding: 1rem;
    }

    nav ul.active {
        display: flex;
    }

    nav ul li {
        margin: 0;
    }

    .cta-buttons {
        flex-direction: row;
        align-items: center;
    }

    .menu-toggle {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .menu-toggle span {
        background-color: #e0e0e0;
    }

    .menu-toggle.active span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .menu-toggle.active span:nth-child(2) {
        opacity: 0;
    }

    .menu-toggle.active span:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
    }

    nav ul.active {
        display: flex;
    }

    .cta-buttons {
        flex-direction: row;
        align-items: center;
    }
}

html {
    scroll-behavior: smooth; /* Enable smooth scrolling */
}

/* Team Information Alignment */
.team-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.team-member {
    display: flex;
    flex-direction: row;
    align-items: flex-start; /* Align items to the start */
    background-color: #1a1a1a;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
}

.team-member img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-right: 1rem;
    object-fit: cover; /* Ensure the image covers the area and maintains aspect ratio */
}

.team-info {
    color: #e0e0e0;
    flex: 1; /* Allow the team info to take remaining space */
    text-align: left; /* Align text to the left */
}

.team-info h3 {
    margin: 0;
    font-size: 1.5rem;
    color: #00A2E8; /* Match the color to the site theme */
}

.team-info p {
    margin: 0.5rem 0;
}

/* Product buttons */
.product-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-around; /* Space out the buttons equally */
    margin-top: 2rem;
}

.product-buttons .product-button {
    flex: 1 1 calc(25% - 1rem); /* Adjust the width based on the container and gap */
    max-width: 200px; /* Set a max width for larger screens */
    text-align: center;
    margin-bottom: 2rem;
}

.product-buttons .product-button img {
    width: 100%;
    height: auto;
    border-radius: 50%; /* Make the image round */
    border: 5px solid #00A2E8; /* Add a border with the site's theme color */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.product-buttons .product-button img:hover {
    transform: scale(1.05);
}

.product-buttons .product-description {
    margin-top: 0.5rem;
    font-size: 1rem;
    color: #e0e0e0;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    .product-buttons {
        flex-direction: column;
        align-items: center;
    }

    .product-buttons .product-button {
        flex: none;
        width: 60%; /* Adjust width for smaller screens */
    }

    .product-buttons .product-button img {
        width: 80%; /* Adjust image size for smaller screens */
    }
}

@media (max-width: 480px) {
    .product-buttons .product-button {
        width: 100%; /* Full width for very small screens */
    }

    .product-buttons .product-button img {
        width: 70%; /* Adjust image size for very small screens */
    }
}

.linkedin-icon {
    width: 24px;
    height: 24px;
}

/* Existing styles for footer */
footer {
    background-color: #1a1a1a;
    color: #e0e0e0;
    padding: 1.5rem 2rem;
    border-top: 1px solid #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.footer-links {
    margin-bottom: 1rem;
}

.footer-links a {
    color: #00A2E8;
    text-decoration: none;
    margin: 0 0.5rem;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: #0077b6;
    text-decoration: underline;
}

.contact-info {
    margin-bottom: 1rem;
}

.contact-info p {
    margin: 0.5rem 0;
}

.footer-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-info {
    font-size: 0.875rem;
    display: flex;
    align-items: center;
}

.footer-info p {
    margin: 0;
}

.social-media {
    margin-left: 0.5rem;
}

.social-media a {
    color: #00b4d8;
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-media a:hover {
    color: #0077b6;
}

@media (max-width: 768px) {
    .footer-bottom {
        flex-direction: column;
    }

    .social-media {
        margin-top: 0.5rem;
    }
}

/* Popup Modal Styles */
.popup-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.popup-content {
    background-color: #1a1a1a;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #333;
    width: 80%;
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    color: #e0e0e0;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #e0e0e0;
    text-decoration: none;
    cursor: pointer;
}

/* Product Icon Theme Switching */
.product-icon-light {
    display: inline-block;
}

.product-icon-dark {
    display: none;
}

[data-theme="dark"] .product-icon-light {
    display: none;
}

[data-theme="dark"] .product-icon-dark {
    display: inline-block;
}

/* Landing Page Logo Theme Switching */
.landing-logo-light {
    display: block;
}

.landing-logo-dark {
    display: none;
}

[data-theme="dark"] .landing-logo-light {
    display: none;
}

[data-theme="dark"] .landing-logo-dark {
    display: block;
}

/* Favicon Theme Switching */
.favicon-light {
    display: block;
}

.favicon-dark {
    display: none;
}

[data-theme="dark"] .favicon-light {
    display: none;
}

[data-theme="dark"] .favicon-dark {
    display: block;
}

/* Product Image Theme Switching */
.product-image-light {
    display: inline-block;
}

.product-image-dark {
    display: none;
}

[data-theme="dark"] .product-image-light {
    display: none;
}

[data-theme="dark"] .product-image-dark {
    display: inline-block;
}
